<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>box_jumping.gif</string>
		<key>name</key>
		<string>gif/box_jumping</string>
	</dict>
	<dict>
		<key>image</key>
		<string>box_jumping.gif</string>
		<key>name</key>
		<string>gif/box_jumping</string>
	</dict>
	<dict>
		<key>image</key>
		<string>brush_hair.gif</string>
		<key>name</key>
		<string>gif/brush_hair</string>
	</dict>
	<dict>
		<key>image</key>
		<string>box_jumping.gif</string>
		<key>name</key>
		<string>gif/box_jumping</string>
	</dict>
	<dict>
		<key>image</key>
		<string>caugh.gif</string>
		<key>name</key>
		<string>gif/caugh</string>
	</dict>
	<dict>
		<key>image</key>
		<string>grumpy_cat.gif</string>
		<key>name</key>
		<string>gif/grumpy_cat</string>
	</dict>
	<dict>
		<key>image</key>
		<string>in_sink.gif</string>
		<key>name</key>
		<string>gif/in_sink</string>
	</dict>
	<dict>
		<key>image</key>
		<string>laser_on_wall.gif</string>
		<key>name</key>
		<string>gif/laser_on_wall</string>
	</dict>
	<dict>
		<key>image</key>
		<string>punch_fight.gif</string>
		<key>name</key>
		<string>gif/punch_fight</string>
	</dict>
	<dict>
		<key>image</key>
		<string>skating_home.gif</string>
		<key>name</key>
		<string>gif/skating_home</string>
	</dict>
	<dict>
		<key>image</key>
		<string>watching.gif</string>
		<key>name</key>
		<string>gif/watching</string>
	</dict>
</array>
</plist>
